# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Rust source files.
*.rs text

# Shell scripts must always keep LF line endings.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary